[submodule "external/ktx"]
	path = external/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
	ignore = untracked
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "external/FidelityFX-CACAO"]
	path = external/FidelityFX-CACAO
	url = https://github.com/GPUOpen-Effects/FidelityFX-CACAO.git
